/* CSS: styles.css */

/* General reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Arial", sans-serif;
    line-height: 1.6;
}

/* Body styling */
body {
    background-color: #f4f4f4;
    color: #333;
    text-align: center;
}

/* Header styling */
header {
    background-color: #4caf50;
    color: #fff;
    padding: 20px 0;
}

/* Image styling */
img {
    max-width: 100%;
    height: auto;
    margin: 20px 0;
    border-radius: 8px;
}

/* Paragraph styling */
p {
    font-size: 18px;
    color: #555;
    margin: 20px 0;
}

/* Footer styling */
footer {
    background-color: #333;
    color: #fff;
    padding: 15px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
}

#weather-pic {
    display: none;
    height: 100px;
    position: absolute;
    left: 40vw;
}
