<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>About Us</title>
        <link rel="stylesheet" href="../public/css/404.css" />
    </head>
    <body>
        <header>
            {{>header}}
        </header>
        <div class="content">

            <h2>write your feedback</h2>
            <textarea>

            </textarea>
            <button>{{buttonText}}</button>
        </div>
        {{>footer}}
    </body>
</html>